
* {
    box-sizing: border-box;
}

body {
    /* background-color: #072000; */
    background-color: #1e1d21;
}

.container {
    width: 50vw;
    min-width: 700px;
    margin: 200px auto;
}

span[id] {
    display: block;
    width: 200px;
    padding: 5px 0 0 15px;
}

/* 회원수정 상단부 */
.modify-header {
    padding: 30px 0;
    text-align: center;
    background: #ffffff;
    font-weight: 600;
}

.modify-header h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.modify-header h2 {   
    font-size: 2.2em;
}

/* 로그인 중앙부 */
.modify-body {
    padding: 50px 0;
    background-color: #ebebeb;
}


.modify-body form ul {
    /* border: 1px solid #000; */
    padding: 0;
    width: fit-content;
    margin: 0 auto;
}

.modify-body #accountModifyForm li {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
    /* margin-left: 140px; */
    list-style: none;
}

.modify-body #accountModifyForm li div {
    width: 150px;
}
.modify-body #accountModifyForm ul li span{
    width: 420px;
}

.modify-body #accountModifyForm li .form-control {
    width: 420px;
    height: 40px;
    padding-left: 10px;
    border: 2px solid #d9d9de;
    border-radius: 10px;
}

#account-id, #user_name {
    color: #494949;
    font-weight: bold;
    outline: none;
    border: none !important;
    background:  #ebebeb;
}

/* 로그인 하단부 */
.modify-btn {
    margin-top: 70px;
}

.modify-btn .btn {
    background:#494949;
    margin: auto;

    width: 585px;
    height: 40px;
    border-style: none;
    border-radius: 3px;

    font-size: 1em;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
