@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: rgb(240, 240, 240);
}


.club-container {
    width: 1050px;
    margin: 120px auto 0;

}
.club-warpper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* icon 영역 */
.icon-detail {
    display: flex;
    flex-direction: column;
    border-bottom: 1px rgb(150, 150, 150) solid;
    padding-bottom: 10px;
}
.mountain-sec{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
}
.mountain-sec img{
    margin-right: 10px;
}
.mountain-icon {
    width: 20px;
}

.people-icon {
    width: 20px;
}

.calendar-icon {
    width: 18px;
}

.location-icon {
    width: 14px;
}


/* club list */
.club-title{
    font-size: 25px;
    color: #d5f462;
    font-weight: 400;
    margin-bottom: 10px;
}

.club-list-wrapper {
    width: 26.5%;
    background-color: #1e1d21;
    color: white;
    margin: 10px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px rgba(170, 170, 170, 1);
    cursor: pointer;
}

.club-list-wrapper:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top: 1px;
    left:  1px;
}

.club-content{
    margin-top: 10px;
    font-size: 18px;
    height: 150px;
}

/* 현재 인원 */
.now-count-wrapper{
    display: flex;
    flex-direction: column;
}
.now-text{
    font-size: 14px;
}
.now-count{
    font-family: 'Noto Sans KR';
    display: flex;
    font-size: 35px;
    align-items: baseline;
    font-weight: 300;
    letter-spacing: 3px;
}
#lower-size{
    /* margin-left: 3px; */
    font-size: 16px;
}

/* 페이지네이션 */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 50px auto;
    margin-bottom: 50px;
    /* background-color: rgb(250, 250, 250); */
    /* height: 150px; */
    /* border-bottom: 1px solid #000; */
}
.pagination-wrapper{
    display: flex;
    text-align: center;
    padding: 0;
}

/* 이전, 다음 버튼 */
.less-icon, .than-icon{
    width: 20px;
    height: 20px;
}
.prev-btn, .next-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
}

.prev-btn{
    /* padding-right: 6px; */
    margin-right: 13px;
}
.next-btn{
    margin-left: 13px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 2px;

}

.pagination a {
    text-align: center;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 글쓰기 버튼 */
.write-btn {
    width: 10%;
    margin: 0 10px;
    border: none;
    padding: 7px 20px;
    font-weight: 300;
    margin-top: 10px;

    cursor: pointer;
    border-radius: 3px;
    background-color: #b7d15a;
    color: #1e1d21;
    font-weight: 400;
    
}

.write-btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: end;
}

.write-btn:hover {
    background-color: #b7d15a;
    color: white;
}
