@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: inherit !important;
}

body {
    background-color: rgb(240, 240, 240);
}


.club-container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin-top: 120px;
    /* margin: 0 auto; */
}
.club-category-wrapper,
.club-wrapper{
    
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
}
.club-category-wrapper {
    display: flex;
    justify-content: center;
}

/* icon 영역 */
.icon-detail {
    display: flex;
    flex-direction: column;
    border-bottom: 1px rgb(150, 150, 150) solid;
    padding-bottom: 10px;
}

.mountain-sec {
    display: flex;
    align-items: baseline;
    margin-bottom: 7px;
    font-size: 17px;
}

.mountain-sec img {
    margin-right: 10px;
}

.mountain-icon {
    width: 20px;
}

/* 텍스트 공통영역 */
.mountain-text,
.people-text,
.calendar-text,
.location-text {
    margin: 0;
}

.people-icon {
    width: 20px;
}

.calendar-icon {
    width: 18px;
}

.location-icon {
    width: 14px;
}


/* club list */
.club-title {
    font-size: 25px;
    color: #d5f462;
    font-weight: 400;
    margin-bottom: 10px;
}

.club-list-container {
    width: 26.5% !important;
    background-color: #1e1d21;
    color: white;
    margin: 10px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px rgba(170, 170, 170, 1);
    cursor: pointer;
}

.club-list-container:active {
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    position: relative;
    top: 1px;
    left: 1px;
}

.club-content {
    margin-top: 10px;
    font-size: 18px;
    height: 150px;
}

/* 현재 인원 */
.now-count-wrapper {
    display: flex;
    flex-direction: column;
}

.now-text {
    font-size: 14px;
}

.now-count {
    font-family: 'Noto Sans KR';
    display: flex;
    font-size: 35px;
    align-items: baseline;
    font-weight: 300;
    letter-spacing: 3px;
}

#lower-size {
    /* margin-left: 3px; */
    font-size: 16px;
    margin: 0;
}



/* 글쓰기 버튼 */
.write-btn {
    /* width: 10%; */
    margin: 10px 15px 0px 0px;
    /* padding: 7px 20px; */
    height: 33px;
    width: 70px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #b7d15a;
    color: black;
    font-weight: 400;

}

.write-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.write-btn:hover {
    background-color: #b7d15a;
    color: white;
}



.form-select{
    margin: 10px 0px 0px 15px;
}

/* 페이지네이션 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 20px auto;
    margin-bottom: 50px;
    /* background-color: rgb(250, 250, 250); */
    /* height: 150px; */
    /* border-bottom: 1px solid #000; */
    
}
.pagination li a{
    font-size: 18px;
    color: #1e1d21 !important;
}

.page-item.active .page-link{
    font-size: 18px;
    background-color: rgb(200, 200, 200) !important;
    color: black !important;
    border-color: rgb(200, 200, 200) !important;
}

/* .whole-club,
.small-club,
.club-list-total {
    margin: 10px 0px 0px 15px;
    padding: 7px 25px;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(150, 150, 150);
    background-color: rgb(200, 200, 200);
}

.btn-active {
    background-color: #b7d15a;
    color: black;
} */

/* .category-select {
    display: flex;
    text-align: center;
} */