#body-color {
    /* background-color: black; */
    background-color: rgb(240, 240, 240);
    /* background-color: #1e1d21; */
    /* height: 100vh; */
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    margin: 120px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.review-main-title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* 전체 border 공통영역 */
#title,
#content,
#categorySelect,
.submit-btn,
.close-btn {
    border: 0.5px solid rgb(230, 230, 230);
}

/* 타이틀 콘텐츠 영역 */
#title,
#content {
    /* width: 550px; */
    width: 100%;
    margin: 0 auto;
    resize: none;
    margin-bottom: 10px;
    padding: 10px 10px;
}

#title {
    height: 45px;
    border-radius: 5px;
}

#content {
    min-height: 480px;
    border-radius: 7px;
}

#categorySelect {
    padding: 5px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}


/* 작성, 취소 버튼 */
.write-wrapper {
    width: 590px;
    /* background-color: aqua; */
    margin: 0 auto;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}

.button-wrapper :nth-child(1) {
    margin-bottom: 7px;
}


.submit-btn,
.close-btn {
    padding: 5px 0;
    width: 100%;
    font-size: 15px;
    font-weight: 200;
    /* background-color: black; */
    background-color: rgb(240, 240, 240);
    /* color: white; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    color: black;
}

.close-btn{
    text-align: center;
}

.submit-btn:hover,
.close-btn:hover {
    background-color: #d5f462;
    color: black;

}