@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: rgb(240, 240, 240);
}

#issue-detail-container {
    margin: 130px auto;
    width: 60%;
}


.category {
    color: black;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.category:hover{
    color: black !important;
}

.than-btn{
    width: 20px;
    height: 20px;
}

.title {
    font-size: 23px;

    
}

/* 유저 정보 영역 */
.user-info-wrapper {
    margin-top: 10px;
    /* background-color: wheat; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 20px;
}

/* 프로필 영역 */
.user-info {
    display: flex;
    align-items: center;
}

.user-profile,
.comment-profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(150, 150, 150);
    margin-right: 10px;
}

.write-time {
    display: flex;
    align-items: baseline;
}

.view-count, .modify-warpper {
    margin-left: 10px;
}

/* 좋아요, 댓글 */
.like-it-count {
    display: flex;
    align-items: end;
    height: 50px;
    padding-right: 10px;
}

.heart,
.comment {
    display: flex;
    align-items: center;
}

.comment {
    margin: 0 10px;
}

.heart {}

.user-id,
.comment-id {
    font-weight: 400;
}

/* 아이콘 */
.heard-icon,
.comment-icon {
    width: 15px;
    margin-right: 5px;
}

/* 내용 영역 */
.content-wrapper {
    width: 100%;
    padding: 20px 0 40px;
    /* border-bottom: 1px solid rgb(200, 200, 200); */
    font-size: 17px;
}

.issue-content{
    /* height: 200px; */
    /* margin-bottom: 100px; */
    min-height: 200px;
    word-break:break-all;
}

/* 좋아요 버튼 추가 */
.like-btn{
    width: 100px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid rgb(150, 150, 150);
    text-align: center;
    cursor: pointer;
    padding: 5px 8px;
    font-size: 16px;

}

.like-ative{
    background-color: #d5f462 ;
    border: none;
    color: black;
}