/* --font--
    국문 : Noto Sans KR
    Gothic1 - font weight 400이하 사용
    영문 : Urbanist
    Urbanist - font weight 600이하 사용
    폰트 사이즈는 컨텐츠에 맞춰 적용
    */

* {
    font-family: 'Urbanist', 'Noto Sans KR';
    list-style: none;
    text-decoration: none;
    margin: 0;
}

/* reset CSS */
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");
/* font CSS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Urbanist', 'Noto Sans KR';
    margin: 0;
    padding: 0;
}