@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: rgb(240, 240, 240);
}

#issue-detail-container {
    margin: 130px auto;
    width: 60%;
}


.category {
    color: black;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.category:hover{
    color: black !important;
}

.than-btn{
    width: 20px;
    height: 20px;
}

.title {
    font-size: 23px;

    
}

/* 유저 정보 영역 */
.user-info-wrapper {
    margin-top: 10px;
    /* background-color: wheat; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 20px;
}

/* 프로필 영역 */
.user-info {
    display: flex;
    align-items: center;
}

.user-profile,
.comment-profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(150, 150, 150);
    margin-right: 10px;
}

.write-time {
    display: flex;
    align-items: baseline;
}

.view-count, .modify-warpper {
    margin-left: 10px;
}

/* 좋아요, 댓글 */
.like-it-count {
    display: flex;
    align-items: end;
    height: 50px;
}

.heart,
.comment {
    display: flex;
    align-items: center;
}

.comment {
    margin: 0 10px;
}

.heart {}

.user-id,
.comment-id {
    font-weight: 400;
}

/* 아이콘 */
.heard-icon,
.comment-icon {
    width: 15px;
    margin-right: 5px;
}

/* 내용 영역 */
.content-wrapper {
    width: 100%;
    padding: 20px 0 40px;
    /* border-bottom: 1px solid rgb(200, 200, 200); */
    font-size: 17px;
}

.issue-content{
    /* height: 200px; */
    /* margin-bottom: 100px; */
    min-height: 200px;
    word-break:break-all;
}

/* 댓글 영역 */
.detail-comment-container {
    padding-top: 20px;
    /* background-color: bisque; */
    padding: 15px;
}

.comment-warpper {
    display: flex;
}

.comment-title {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 10px;
}

.comment-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.comment-info-wrapper {
    display: flex;
    /* background-color: azure; */
    border-bottom: 1px solid rgb(220, 220, 220);
    width: 100%;
}

.comment-write-date {
    margin-top: 10px;
    color: rgb(150, 150, 150);
    font-size: 14px;
}

.comment-write-wrapper {
    /* background-color: wheat; */
    /* padding: 10px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    /* border: 2px solid white; */
    border-radius: 10px;
    padding: 20px 15px;
}

/* 댓글 작성 영역 */
#comment-write-area {
    border-radius: 5px;
    width: 99%;
    resize: none;
    height: 50px;
    margin: 10px 0;
    background: none;
    border: none;
}

#comment-write-area::placeholder {
    color: rgb(150, 150, 150);
}

.write-id {
    font-weight: 400;
    font-size: 17px;
}


/* 등록 버튼 */
.submit-btn {
    width: 80px;
    font-size: 15px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    /* background-color: rgb(100, 100, 100); */
    background-color: #1e1d21;
    color: white;
    padding: 4px 8px;
    cursor: pointer;

}

.submit-btn:hover {
    background-color: rgb(100, 100, 100);
}

/* 수정 삭제 버튼 */
.modify-warpper{
    padding-left: 10px;
}

.modify-warpper :nth-of-type(2){
    border-left: 1px solid rgb(200, 200, 200);
    padding-left: 5px;
}

.modify-warpper a{
    font-weight: 14px;
    color: rgb(150, 150, 150) !important;
}
