
* {
    box-sizing: border-box;
}
body{
    /* background-color: #072000; */
    background-color:#1e1d21;
}

.container {
    width: 40vw;
    min-width: 500px;
    margin: 200px auto;
    border-radius: 10px;
}

span[id] {
    display: block;
    /* width: 160px; */
    padding: 5px 0 0 15px;
}

/* 로그인 상단부 */
#sign-in-header{
    padding: 30px 0;
    text-align: center;
    background: #ffffff;
}
#sign-in-header .head1 {
    font-weight: 500;
    font-size: 3em;
    /* color: #1c5800; */
    color: #000000;
}

.head2 {
    margin-top: 25px;
    font-size: 1em;
    font-weight: 600;
}

/* 로그인 중앙부 */
.sign-in-body {
    background-color: #ebebeb;
}

.sign-in-body form ul {
    /* border: 1px solid #000; */
    padding: 0;
    padding: 50px 0;
    width: fit-content;
    margin: 0 auto;
}

.sign-in-body form ul .signIn-input {
    margin-bottom: 40px;
}

.sign-in-body #signInForm li {
    display: flex;
    margin-bottom: 20px;
    list-style: none;
}

.sign-in-body #signInForm li .form-control {
    width: 420px;
    height: 40px;
    padding : 0;
    padding-left: 10px;
    border: 2px solid #d9d9de;
    border-radius: 10px;
}


/* 로그인 하단부 */
.sign-in-wrap #sign-btn .sign-btn {
    background:#494949;
    padding: 0;
    margin: auto;

    width: 420px;
    height: 38px;
    border-style: none;
    border-radius: 3px;

    font-size: 0.8em;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-btn {
    padding-bottom: 50px;
    text-decoration: none;
    cursor: pointer;
}

#btn:hover{
    background-color: #b0b0b0;
    color: #000000;
}

.line_lr {
    display:flex;
    flex-basis:100%;
    align-items:center;
    color:#777777;
    font-size:12px;
    margin: 30px 0 15px 0;
}
.line_lr::before{
    content:"";
    flex-grow:1;
    margin:0px 14px;
    background:#acacac;
    height:1px;
    display:inline-block;
    text-shadow:none;
}
.line_lr::after {
    content:"";
    flex-grow:1;
    margin:0px 14px;
    background:#acacac;
    height:1px;
    display:inline-block;
    text-shadow:none;
}
