<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mountain.doo.repository.OfferMapper">

    <insert id="save">
        insert into offer (account_id,offer_type,offer_title1,offer_content1,
        offer_title2,offer_content2,offer_title3,offer_content3,
        offer_title4,offer_content4)
        VALUES (#{accId},#{dto.offerType},#{dto.offerTitle1},#{dto.offerContent1},
        #{dto.offerTitle2},#{dto.offerContent2},#{dto.offerTitle3},#{dto.offerContent3},
        #{dto.offerTitle4},#{dto.offerContent4});

<!--        insert into offer_image(offer_board_no,offer_img,image_number)-->

    </insert>

</mapper>