<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mountain.doo.repository.SecondhandBoardMapper">

<!--  전체조회  -->
<select id="findAll" resultType="SecondhandBoard">
    SELECT secondhand_board_no, account_id, secondhand_title,
    secondhand_content,secondhand_view_count, secondhand_area,
    secondhand_reg_date, secondhand_deal_type
    From secondhand
    <include refid="search" />
    ORDER BY secondhand_board_no DESC
    LIMIT #{pageStart},#{amount}
</select>


<!--  하나조회  -->
    <select id="findOne" resultType="secondhandBoard">
        SELECT secondhand_board_no, account_id, secondhand_title,
        secondhand_content,secondhand_view_count, secondhand_area,
        secondhand_reg_date, secondhand_deal_type
        From secondhand
        WHERE secondhand_board_no=#{boardNo}

    </select>

<!-- 게시물 작성 -->
    <insert id="handWriteData">

        INSERT INTO secondhand
        (account_id,secondhand_title,secondhand_content,secondhand_area,secondhand_deal_type)
        VALUES (#{accountId},#{secondhandTitle},#{secondhandContent},#{secondhandArea},#{secondhandDealType})
    </insert>

<!--   조회수 +1 증가 -->
    <update id="plusViewCount">
        UPDATE secondhand
        SET secondhand_view_count = secondhand_view_count + 1
        WHERE secondhand_board_no = #{boardNo}

    </update>

<!-- 전체 게시물 수 확인-->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM secondhand
        <include refid="search" />

    </select>


<!-- 게시물 수정 -->
    <update id="modifySecondhand">
        UPDATE secondhand
        SET secondhand_title = #{secondhandTitle}, secondhand_content = #{secondhandContent}, secondhand_modify = #{secondhandModify}
        where secondhand_board_no = #{secondhandBoardNo};
    </update>

<!--    게시물 삭제-->
    <delete id="deleteSecondhand">
        DELETE FROM secondhand
        WHERE secondhand_board_no = #{secondHandBoardNo}
    </delete>


<!--    Search 모듈화-->
    <sql id="search">
        <if test="type == 'title' and secondhandType == 'buy'">
            WHERE secondhand_title LIKE CONCAT('%', #{keyword}, '%')
            AND secondhand_deal_type = 'BUY'
        </if>

        <if test="type == 'title' and secondhandType == 'sell'">
            WHERE secondhand_title LIKE CONCAT('%', #{keyword}, '%')
            AND secondhand_deal_type = 'SELL'
        </if>

        <if test="type == 'content' and secondhandType == 'buy'">
            WHERE secondhand_content LIKE CONCAT('%', #{keyword}, '%')
            AND secondhand_deal_type = 'BUY'
        </if>

        <if test="type == 'content' and secondhandType == 'sell'">
            WHERE secondhand_content LIKE CONCAT('%', #{keyword}, '%')
            AND secondhand_deal_type = 'SELL'
        </if>

        <if test="type == 'tc' and secondhandType == 'buy'">
            WHERE secondhand_title LIKE CONCAT('%', #{keyword}, '%')
            OR secondhand_content LIKE CONCAT('%', #{keyword}, '%')
            AND secondhand_deal_type = 'BUY'
        </if>

        <if test="type == 'tc' and secondhandType == 'sell'">
            WHERE secondhand_title LIKE CONCAT('%', #{keyword}, '%')
            OR secondhand_content LIKE CONCAT('%', #{keyword}, '%')
            AND secondhand_deal_type = 'SELL'
        </if>

        <if test="type == 'title' and secondhandType == ''">
            WHERE secondhand_title LIKE CONCAT('%', #{keyword}, '%')
        </if>

        <if test="type == 'content' and secondhandType == ''">
            WHERE secondhand_content LIKE CONCAT('%', #{keyword}, '%')
        </if>

        <if test="type == '' and secondhandType == 'buy'">
            WHERE secondhand_deal_type = 'BUY'
        </if>

        <if test="type == '' and secondhandType == 'sell'">
            WHERE secondhand_deal_type = 'SELL'
        </if>
    </sql>
</mapper>