<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--   자동 카멜케이스 스네이크 케이스 변환 설정     -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <!--  entity 클래스 별칭 설정      -->
         <typeAlias alias="test" type="com.mountain.doo.entity.test" />
        <typeAlias alias="secondhandBoard" type="com.mountain.doo.entity.SecondhandBoard" />
        <typeAlias alias="Account" type="com.mountain.doo.entity.Account" />
        <typeAlias alias="AccountModifyDTO" type="com.mountain.doo.dto.AccountModifyDTO" />
    </typeAliases>

    <mappers>
        <!-- Mapper XML files -->
        <mapper resource="mappers/test.xml"/>
        <mapper resource="mappers/SecondhandBoardMapper.xml"/>
        <mapper resource="mappers/AccountMapper.xml"/>
    </mappers>


</configuration>