<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mountain.doo.repository.replymapper.ReviewReplyMapper">

    <insert id="register">
        INSERT INTO review_reply
            (review_board_no, review_reply_content, review_reply_writer)
        VALUES
            (#{reviewBoardNo}, #{reviewReplyContent}, #{reviewReplyWriter})
    </insert>

    <update id="modify">
        UPDATE review_reply
        SET review_reply_content = #{reviewReplyContent}
        WHERE review_reply_no = #{reviewReplyNo}
    </update>

    <delete id="remove">
        DELETE FROM review_reply
        WHERE review_reply_no = #{reviewReplyNo}
    </delete>

    <select id="findAll" resultType="reviewReply">
        SELECT
            A.review_reply_no, A.review_reply_content, A.review_reply_writer,
            A.review_reply_date, A.review_board_no, B.profile_img AS profileImg
        FROM review_reply A
        JOIN account B
        on A.review_reply_writer = B.account_id
        WHERE review_board_no = #{reviewBoardNo}
        ORDER BY review_reply_no
        LIMIT #{p.pageStart}, #{p.amount}
    </select>

    <select id="findOne" resultType="reviewReply">
        SELECT
            review_reply_no, review_reply_content, review_reply_writer, review_reply_date, review_board_no
        FROM review_reply
        WHERE review_reply_no = #{reviewReplyNo}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM review_reply
        WHERE review_board_no = #{reviewBoardNo}
    </select>
</mapper>